In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn import tree, preprocessing
from sklearn.model_selection import train_test_split
import numpy as np
import seaborn as sns

In [7]:
df = pd.read_csv("newunicorn.csv")
df = df.drop(["Unnamed: 0"], axis=1)
df

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,urlsub
0,ByteDance,$140.00,4/7/17,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",bytedance
1,SpaceX,$127.00,12/1/12,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",spacex
2,SHEIN,$100.00,7/3/18,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",shein
3,Stripe,$95.00,1/23/14,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",stripe
4,Canva,$40.00,1/8/18,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",canva
...,...,...,...,...,...,...,...,...
1200,Zhaogang,$1.00,6/29/17,China,Shanghai,E-commerce & direct-to-consumer,"K2 Ventures, Matrix Partners China, IDG Capital",zhaogang
1201,Zhuan Zhuan,$1.00,4/18/17,China,Beijing,E-commerce & direct-to-consumer,"58.com, Tencent Holdings",zhuan zhuan
1202,Zihaiguo,$1.00,5/6/21,China,Chongqing,Consumer & retail,"Xingwang Investment Management, China Capital ...",zihaiguo
1203,Zopa,$1.00,10/19/21,United Kingdom,London,Fintech,"IAG Capital Partners, Augmentum Fintech, North...",zopa
1204,Zwift,$1.00,9/16/20,United States,Long Beach,E-commerce & direct-to-consumer,"Novator Partners, True, Causeway Media Partners",zwift

In [14]:
df["Valuation ($B)"] = df['Valuation ($B)'].str.replace('$', '').astype(float)
df

C:\Users\jim13\AppData\Local\Temp\ipykernel_41184\905620081.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Valuation ($B)"] = df['Valuation ($B)'].str.replace('$', '').astype(float)

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,urlsub
0,ByteDance,140.0,4/7/17,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",bytedance
1,SpaceX,127.0,12/1/12,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",spacex
2,SHEIN,100.0,7/3/18,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",shein
3,Stripe,95.0,1/23/14,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",stripe
4,Canva,40.0,1/8/18,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",canva
...,...,...,...,...,...,...,...,...
1200,Zhaogang,1.0,6/29/17,China,Shanghai,E-commerce & direct-to-consumer,"K2 Ventures, Matrix Partners China, IDG Capital",zhaogang
1201,Zhuan Zhuan,1.0,4/18/17,China,Beijing,E-commerce & direct-to-consumer,"58.com, Tencent Holdings",zhuan zhuan
1202,Zihaiguo,1.0,5/6/21,China,Chongqing,Consumer & retail,"Xingwang Investment Management, China Capital ...",zihaiguo
1203,Zopa,1.0,10/19/21,United Kingdom,London,Fintech,"IAG Capital Partners, Augmentum Fintech, North...",zopa
1204,Zwift,1.0,9/16/20,United States,Long Beach,E-commerce & direct-to-consumer,"Novator Partners, True, Causeway Media Partners",zwift

In [17]:
# convert to number of seconds after 1970/1/1

df['Date Joined'] = pd.to_datetime(df['Date Joined'], format='%m/%d/%y').apply(lambda x: pd.Timestamp(x).timestamp())
df

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,urlsub
0,ByteDance,140.0,1.491523e+09,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",bytedance
1,SpaceX,127.0,1.354320e+09,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",spacex
2,SHEIN,100.0,1.530576e+09,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",shein
3,Stripe,95.0,1.390435e+09,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",stripe
4,Canva,40.0,1.515370e+09,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",canva
...,...,...,...,...,...,...,...,...
1200,Zhaogang,1.0,1.498694e+09,China,Shanghai,E-commerce & direct-to-consumer,"K2 Ventures, Matrix Partners China, IDG Capital",zhaogang
1201,Zhuan Zhuan,1.0,1.492474e+09,China,Beijing,E-commerce & direct-to-consumer,"58.com, Tencent Holdings",zhuan zhuan
1202,Zihaiguo,1.0,1.620259e+09,China,Chongqing,Consumer & retail,"Xingwang Investment Management, China Capital ...",zihaiguo
1203,Zopa,1.0,1.634602e+09,United Kingdom,London,Fintech,"IAG Capital Partners, Augmentum Fintech, North...",zopa
1204,Zwift,1.0,1.600214e+09,United States,Long Beach,E-commerce & direct-to-consumer,"Novator Partners, True, Causeway Media Partners",zwift

In [19]:
Xc1 = pd.get_dummies(df["Country"]) #clean data using dummies/one hot encoder
Xc2 = pd.get_dummies(df["Industry"])
y = df["Valuation ($B)"]

In [30]:
df['Select Investors'] = df['Select Investors'].fillna('')
investor = df['Select Investors'].apply(lambda x: x.split(', '))
investor

0       [Sequoia Capital China, SIG Asia Investments, ...
1       [Founders Fund, Draper Fisher Jurvetson, Rothe...
2       [Tiger Global Management, Sequoia Capital Chin...
3           [Khosla Ventures, LowercaseCapital, capitalG]
4       [Sequoia Capital China, Blackbird Ventures, Ma...
                              ...
1200    [K2 Ventures, Matrix Partners China, IDG Capital]
1201                           [58.com, Tencent Holdings]
1202    [Xingwang Investment Management, China Capital...
1203    [IAG Capital Partners, Augmentum Fintech, Nort...
1204    [Novator Partners, True, Causeway Media Partners]
Name: Select Investors, Length: 1205, dtype: object

In [31]:
from sklearn.preprocessing import MultiLabelBinarizer
# Initialize the MultiLabelBinarizer
mlb = MultiLabelBinarizer()

# Fit the MultiLabelBinarizer to the data and transform the data
investor_matrix = mlb.fit_transform(investor)

# Create a new DataFrame with the transformed data
investor_df = pd.DataFrame(investor_matrix, columns=mlb.classes_)

In [32]:
investor_df

,,.406 Ventures,01 Advisors,01 Advisors. Kleiner Perkins Caufield & Byers. Andreessen Horowitz,10T Fund,14W,1955 Capital,360 Capital Partners,3G Capital Management,3L,...,iFLYTEK,iFly,iNovia Capital,iSeed Ventures,iTech Capital,iVision Ventures,index Ventures,kt investment,next47,s28 Capital
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1201,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
X = pd.concat([df['Date Joined'], Xc1,Xc2,investor_df], axis=1)
X

,Date Joined,Argentina,Australia,Austria,Belgium,Bermuda,Brazil,Canada,Chile,China,...,iFLYTEK,iFly,iNovia Capital,iSeed Ventures,iTech Capital,iVision Ventures,index Ventures,kt investment,next47,s28 Capital
0,1.491523e+09,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1.354320e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.530576e+09,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1.390435e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.515370e+09,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,1.498694e+09,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1201,1.492474e+09,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1202,1.620259e+09,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1203,1.634602e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1204,1.600214e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = 0.2) 
# optional arg. stratify returns training and test subsets that have the same proportions of class labels as the input dataset

train_X

,Date Joined,Argentina,Australia,Austria,Belgium,Bermuda,Brazil,Canada,Chile,China,...,iFLYTEK,iFly,iNovia Capital,iSeed Ventures,iTech Capital,iVision Ventures,index Ventures,kt investment,next47,s28 Capital
607,1.646957e+09,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
207,1.609978e+09,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
836,1.624493e+09,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
625,1.625098e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1113,1.600646e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,1.655165e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
905,1.647302e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1096,1.652054e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235,1.603325e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1061,1.613520e+09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
train_y

607     1.57
207     4.00
836     1.20
625     1.50
1113    1.00
        ...
715     1.40
905     1.10
1096    1.00
235     3.60
1061    1.00
Name: Valuation ($B), Length: 903, dtype: float64

In [62]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [63]:
rf = RandomForestRegressor(n_estimators=150, random_state=1)

# Train the model on the training data
rf.fit(X_train, y_train)

# Use the trained model to make predictions on the test data
y_pred = rf.predict(X_test)

# Evaluate the performance of the model using R-squared (R^2)
r2 = r2_score(y_test, y_pred)
print("R^2:", r2)

R^2: -0.7691469527976409

In [72]:
y_pred

array([-1.36947083e+02, -7.11117094e+02, -5.43823130e+00, -1.35641878e+05,
       -2.06734434e+01, -1.80725405e+01, -6.72294836e+00, -2.82440946e+01,
       -2.61598516e+01,  4.05360045e+00, -2.90356439e+01,  1.19369203e+02,
        5.30512944e+01,  1.41978259e+00, -6.31708145e+01, -1.24144471e+01,
        1.01951377e+00,  1.72760917e+01,  1.68541067e+01, -1.50055297e+02,
       -1.06635490e+01, -1.45094970e+01, -5.77275087e+00,  5.29104744e+00,
       -6.37642269e+00, -1.17688776e+00, -4.46714499e+03,  4.83836513e+01,
       -1.53275366e+03,  5.57582296e+00,  3.90439084e+00, -2.57909009e+01,
       -4.69921971e+04,  2.40908439e+01,  2.38912807e+03,  1.15472319e+01,
        3.15045160e+02, -3.54457913e+04, -2.07542025e+01, -1.39507545e+01,
        1.24276598e+02, -1.03670844e+01, -1.31921649e+01, -2.92036473e+01,
       -1.39594275e-02, -1.10659011e+01,  6.05463048e+02,  1.93835862e+00,
        2.82192109e+01, -4.84420238e+01,  4.54486219e+02, -2.99395111e+01,
        2.42380563e+00, -2.61434958e+02, -7.00720438e+02, -7.19129358e+01,
       -1.56486559e+01, -1.38340126e+01,  1.66451639e+02,  3.92974496e+00,
       -1.02811235e+02, -2.97687796e+00,  4.24417228e+01,  1.14138116e+01,
        3.26037018e+00,  1.74511670e+01,  7.57246357e+00, -1.55699773e+03,
        2.56435873e+01, -6.59180599e+00,  1.54267756e-01,  2.31309522e+01,
       -1.32852307e+01, -6.52220987e+01, -8.92361666e+01,  3.23124165e+01,
       -9.13567192e+01, -2.28819775e+00, -3.20004680e+01,  2.11110441e+02,
       -4.75203394e+00,  2.80221731e+00,  7.38742160e+00, -2.91883195e+01,
        6.09620085e+00,  8.49146183e+00,  7.39712757e+01, -1.39540078e+00,
       -2.04200983e+01,  1.37837298e+01, -1.75229472e+01, -4.90803313e+01,
        4.86048048e+00, -4.11540650e+02, -1.35165802e+01,  5.88082743e+00,
        8.28900406e+01,  1.18808904e+01,  1.60255836e+01, -3.72051118e+00,
        1.66235286e+01, -1.50052725e+01, -1.99247348e+01,  2.35735873e+01,
        5.73343163e+00,  8.73299654e+00,  2.21931821e+01,  3.06630211e+00,
        1.64293092e+02, -1.02952345e+00,  1.60788148e+01,  9.36179404e+00,
        3.40435777e+01,  3.05198219e+01, -6.76740608e+00, -1.66452599e+01,
        2.16735844e+01, -5.93766003e+00,  1.88130262e+00, -7.01149081e+02,
        1.83267983e+01,  1.17866762e+01, -2.37782356e+01, -3.01804015e+00,
       -5.19375644e+00,  3.63405303e+00,  8.52081365e-01, -2.54325019e+00,
        3.34059374e+01,  8.79554020e+00, -5.20777221e+02,  3.40132259e+02,
       -7.94954089e+02,  5.06495781e-02,  5.01659609e+01, -1.67184308e+03,
       -9.94316502e+02, -3.06221440e+00,  2.79974612e+00,  3.55296832e+01,
        3.01520178e+02,  4.19179509e+00,  8.17762462e+01,  1.30078965e+01,
       -2.18610250e+00, -5.23250526e+00, -1.39643014e+02,  8.95119396e+01,
        3.20217750e+01,  2.00061887e+01, -2.41803169e+01, -3.58674230e+00,
        2.83211801e+02,  9.80622396e-01, -6.09042057e+03, -5.24772677e+00,
       -5.37019667e+02,  4.58621296e+01,  3.81753208e+01,  2.96716415e+01,
        9.19496429e+01,  4.58429475e+01,  1.60161532e+02, -1.25437534e+01,
       -4.93769417e+00, -5.86160391e+00,  1.53001106e+01,  4.35233735e+00,
        7.40939321e+00, -4.61731289e+00,  2.61285381e+00, -5.62333627e+03,
       -5.76003029e+01,  2.56288721e+00, -1.99979442e+01, -6.00539210e-02,
        2.12415137e+03, -2.59662877e+02, -1.48735545e+02, -1.64071557e+03,
       -1.32807219e+02,  4.29461761e+00,  1.55812871e+00, -2.41943280e+01,
        1.86912786e+01, -6.49283736e+00, -1.42869418e+02, -5.52479336e+00,
       -4.20876585e+01, -1.73852474e+01,  2.86067152e+02,  6.33971676e-01,
       -9.68862077e+02, -1.94335966e+02, -1.24484453e+02,  1.74240310e+00,
       -4.93309239e+01,  3.25251345e+00, -4.46971140e+00, -3.67129296e+01,
        2.87336094e+01, -5.27587472e+00,  2.12543161e+01,  4.83999001e+00,
        1.28747008e+01,  8.83514088e+00,  3.48078375e+02,  7.88730339e+00,
       -5.60086511e+04, -5.82090246e+00, -7.44558555e+02,  3.80765050e+00,
        1.98487388e+03,  3.44348276e+00, -3.30286679e+00, -2.12111194e+00,
       -2.23777060e+00,  8.71308462e+00, -5.34202427e+00, -1.00736459e+01,
        9.74177472e-01,  2.30852849e+01,  1.22397062e+03,  1.40109497e+01,
        4.57097821e+02, -4.50052793e+01, -9.59216190e-01,  3.71921102e+02,
        2.20256451e+01, -2.23884167e+01, -7.65854420e+00,  1.54817614e+00,
       -6.31072594e-01, -2.41295409e+00,  3.14474882e+02, -1.96074218e+00,
       -4.16307897e+01, -5.10738457e+00,  3.01020748e+01,  7.88681955e+01,
        1.97506310e+01])

In [71]:
y_test

198     4.00
301     3.00
311     3.00
834     1.20
321     3.00
        ...
1101    1.00
793     1.25
755     1.30
940     1.00
808     1.22
Name: Valuation ($B), Length: 241, dtype: float64

In [65]:
from sklearn.linear_model import LinearRegression

slr = LinearRegression()
slr.fit(X_train,y_train)
y_pred = slr.predict(X_test)

In [70]:
r2_score(y_test, y_pred)

-9075265.160890339

In [73]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

104248198.46010861

In [75]:
print("Intercept: \n", slr.intercept_)
print("Coefficients: \n", slr.coef_)

Intercept:
 -14169.587443052384
Coefficients:
 [-1.97880341e-08  3.02208075e+05  2.52252933e+03 ...  0.00000000e+00
  3.28967571e+00  1.66631625e+00]